<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Server2</title>
</head>
<body>
  <div>
    server2
  </div>
  <script src="/script.js"></script>
  <script src="/no-store.js"></script>
  <!-- <script>
    let result = null
    fetch('/api/test').then(response => {
      return response.json()
    }).then(data => {
      console.log(data)
    })
  </script> -->
</body>
</html>