/*
 * @Author: wangyiheng 
 * @Date: 2018-06-21 17:22:22 
 * @Last Modified by: wangyiheng
 * @Last Modified time: 2018-06-21 19:40:34
 */
 /*
    公共
 */

input {
    width: 220px;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid #0000003b;
    outline: none;
}

.input-wrap {
    position: relative;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.c-item {
    margin: 20px;
    width: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    padding-bottom: 200px;
}

.main {
    margin: 0 auto;
}

/*
    心形图形
*/
#heart {
    background: rgb(255, 20, 147);
    color: #fff;
    width: 140px;
    line-height: 140px;
    text-align: center;
    transform: rotate(45deg);
    position: relative;
    cursor: pointer;
}

#heart:hover {
    animation: jumpHeart .5s ease-in alternate infinite;
}

#heart::after, #heart::before {
    content: '';
    position: absolute;
    top: 0;
    left: -70px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: rgb(255, 20, 147);
    z-index: -1;
}

#heart::before {
   top: -70px;
   left: 0;
}

#heart>.text {
    display: inline-block;
    transform: rotate(-45deg);
}

@keyframes jumpHeart {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(45deg) scale(1.1);
    }
}

/* 气泡对话框 */
#dialogBox {
    position: absolute;
    background: #00abbb;
    color: #fff;
    width: 260px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 10px;
    top: -120px;
    left: 40px;
}

#dialogBox::after {
    content: '';
    position: absolute;
    border: transparent 10px solid;
    border-top: #00abbb 20px solid;
    bottom: -30px;
}